//
.input {
  width: 21%;
}

.site-header {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(0, 0, 0, .85);
}

.header-title {
  color: #999;
  transition: ease-in-out color .15s;
  transition-delay: 0s;
  transition-duration: .15s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

.header-navigation {
  color: #999;
  transition: ease-in-out color .15s;
  transition-delay: 0s;
  transition-duration: .15s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

.header-navigation:hover {
  color: #fff;
  text-decoration: none;
}

.astext {
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.astext:focus {
  outline: none;
}

.select-currency {
  background: none;
  border: 0;
  outline: none;
}

.select-currency:active {
  color: #999;
}

@media (max-width: 500px) {
  .card {
    margin: 2%;
    text-align: center;
    width: 45%;
  }
}

@media (max-width:1024px) and (min-width:501px) {
  .card {
    margin: 2%;
    text-align: center;
    width: 21%;
  }
}

@media (min-width: 1025px) {
  .card {
    margin: 2%;
    text-align: center;
    width: 16%;
  }
}
